body {
  background-color: #f9f9f9;
}

.container {
  max-width: 800px;
  margin-top: 40px;
}

.card {
  margin-bottom: 30px !important;
}

.img-preview {
  max-height: 200px;
  margin-top: 10px;
}

.flash-msg {
  margin-bottom: 1rem;
}
